@charset "UTF-8";
 body{
    color: white;
    font: 3ex;
    text-align: center;
    height: 100%;
        background-image: linear-gradient(180deg,#D3D3D3, #404040);
        background-attachment: fixed;
 }

#jumpingElement {
    color: #fff;
    padding: 20px;
    cursor: pointer;
    transition: transform 1.00s ;
}

#jumpingElement:hover {
    transform: translateY(-10px);
}

 img{

    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(43, 43, 43); 
 }
 main{
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgb(43, 43, 43); 
    margin:auto;
    color: black;
    background-color: white;
 }
h1{
    text-shadow: 1px 1px 2px black;
    font-size: 10ex;
}
h2{
    text-shadow: 1px 1px 2px black;
    text-align: center;
    font-size: 7ex;
}
